.vs/
/out/build/x64-debug/
/out/build/x64-release/
/out/build/x86-debug/
/out/build/x86-release/
.idea/
cmake-build-debug/
/out/build/linux-debug/
/vcpkg_installed/
/CMakeFiles/3.28.3/CompilerIdC/a.out
/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.28.3/CompilerIdCXX/a.out
/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.28.3/CMakeCCompiler.cmake
/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.28.3/CMakeSystem.cmake
/CMakeFiles/cmake.check_cache
/CMakeFiles/CMakeConfigureLog.yaml
